body {
    background-color: #596d4cea;
}

input {
    border: 2px solid rgba(26, 27, 23, 0.89);
}

#new {
    font-size: 16pt;
    border-radius: 10px;
    width: 85%;
    height: 45px;
    padding: 20px;
    box-sizing: border-box;
}

#add {
    font-size: 16pt;
    background-color: #596d4cea;
    color: white;
    border-radius: 10px;
    width: 13%;
    height: 45px;
    padding: 0%;
    box-sizing: border-box;
}

.main {
    width: 450px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 180px;
}

.task {
    background-color: rgba(117, 133, 96, 0.486);
    font-size: 16pt;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.task span {
    vertical-align: top;
    padding-left: 10px;
    display: inline-block; 
    padding-top: 10px;
    padding-bottom: 10px;
    width: 86%;
}

.task img {
    display: inline-block;
    height: 45px;
    vertical-align: top;
    width: 10%;
    position: absolute;
    right: 0;
}

.all {
    margin-top: 40px;
    font-size: 16pt;
    position: relative;
    height: 50px;
}

.all #clear {
    position: absolute;
    right: 0;
    width: 25%;
    font-size: 16pt;
    background-color: #596d4cea;
    color: white;
    border-radius: 10px;
    height: 40px;
}